.listing.component

  .property.title
    text-align: center
    border: 4px solid rgba(0, 0, 0, 0.51)
    padding: 15px
    font-size: 2em
    margin-bottom: 1em

    .meta
      font-size: 0.5em

  table
    border: 0
    width: 100%

    td
      padding: 0